{% extends 'base.html' %}
{% block content %}

    <article>
        <div class="whitebg about">
            <div class="ab_box"><i class="avatar_pic"><img src="/static/images/w.jpg"></i>
                <h3>朽木自雕</h3>
                <p>真名：燕永辉<br>
                    在校大学生，计算机科学与技术专业<br>
                    爱思考，喜欢安静，爱胡思乱想。</p>
            </div>
            <h2 class="gd_title">简介</h2><br>
            <div class="clear"></div>
            <div class="ab_dubai">


                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小生姓燕，弱冠之年。性耿直，闲静少言，不慕荣利。好读书，不求甚解。


            </div>
            <br>
            <h2 class="gd_title">代码积累</h2><br>
            <div class="clear"></div>
            <div class="ab_dubai">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据结构：https://github.com/GoniaYen/data_structure
                </p><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计模式：https://github.com/GoniaYen/design_pattern
                </p>
                <br>
                 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其他：https://github.com/GoniaYen/cpp_code
                </p>
                <br>

            </div>

            <h2 class="gd_title">关于本站</h2><br>
            <div class="clear"></div>
            <div class="ab_dubai">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站部分文章来源于网络，如有侵权，请联系删除
                </p><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本站前端模板来源与<a href="www.yangqq,com">青于蓝</a>，后端采用了django框架，
                </p><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务器是阿里云ecs，数据库为MySQL
                </p><br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如你有兴趣，可扫描二维码分享交流</p><br>

            </div>
            <br>

        </div>
    </article>
{% endblock %}
